<section id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Programming Languages</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <svg fill="#1ABC9C" title="Python">
                        <use xlink:href="#python"></use>
                    </svg>
                    <!--<h3>Python</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <svg fill="#1ABC9C" title="Python">
                        <use xlink:href="#c++"></use>
                    </svg>
                    <!--<h3>C++</h3>-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <svg fill="#1ABC9C" title="Java">
                        <use xlink:href="#java"></use>
                    </svg>
                    <!--<h3>Java</h3>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Not Programming Languages</h2>
            <hr class="primary">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <svg fill="#1ABC9C" title="Git">
                        <use xlink:href="#git"></use>
                    </svg>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <svg fill="#1ABC9C" title="Vim">
                        <use xlink:href="#vim"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
